/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 nov. 2021, 15:32:54
    Author     : nmanfaloti
*/
body{
  background-image: url("cine.jpg");
  background-color: #ddd;
  background-size: auto;
}
.film{
    position:absolute;
    margin:auto;
    max-width: 100%;
    height: auto;
    display: block;
    top:13%;
    bottom: 0;
    left: 22%;
    right: 0;
}