/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2021, 15:47:13
    Author     : nmanfaloti
*/


body{
    background-color: graytext;
}

.important{
    margin: 10px;
    padding: 5px;
    background-color: lightslategrey;
    border: 1px black solid;
    text-align: left;
    width: 100px;0
}
h1 {
    color: red;
    font-family: serif;
    font-size: 20px;
    margin-left: 20px;
}
#menu {
    position: none;
    top: 30px;
    left: 5px;
    width: auto;
}
#menu>ul {
    liste-style-type: none;
}
#menu>ul>li {
    padding: 5px;
    background-color: background;
    background-radius: 5px;
    margin: 5px;
    width: 50px;
}
dive  {
    border: 15px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    width: 300px;
    height: 50px;
    background-color: aqua;
}
div.stat  {
    position: static;
    padding: 20px;
    border: 3px solid coral;
    width: 310px;
}
div.rela{
    position: relative;
    border: 3px solid coral;
    left: 30px;
    padding: 20px;
    width: 310px;
}
div.fixe{
    position: fixed;
    padding: 20px;
    border: 3px solid coral;
    right: 0px;
    bottom: 0px;
}

div.relative{
    position: relative;
    border: 3px solid coral;
    height: 200px;
    width: 400px;
}
div.absolue{
    position: absolute;
    top: 80px;
    right: 5px;
    bottom: 5px;
    width: 200px;
    height: 100px;
    border: 3px solid coral;
}
div.collante{
    position: sticky;
    position: -webkit-sticky;
    border: 2px solid cardetblue;
    padding: 5px;
    top: 30px;
    width: 200px;
    background-color: beige;
}
image {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
h2 {
    z-index: 1;
}
