/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 nov. 2021, 15:32:54
    Author     : nmanfaloti
*/
.fling-minislide {width:750px; height:500px; overflow:hidden; position:relative; }

.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}

.fling-minislide img:nth-child(4){animation-delay:0s;}

.fling-minislide img:nth-child(3){animation-delay:5s;}

.fling-minislide img:nth-child(2){animation-delay:10s;}

.fling-minislide img:nth-child(1){animation-delay:15s;}

div.relative {
  position: absolute;
  left: 0;
  right:0;
  top: 15%;
  bottom:0;
  margin:auto;
}
.ima{
  position: absolute;
  left: 0;
  right:0;
  top: 41%;
  bottom:0;
  margin:auto;
}

.rela1 {
  position: absolute;
  left: 35%;
  right:0;
  top: 18%;
  bottom:0;
  margin:auto;
}
.ima2{
  position: absolute;
  left: 35%;
  right:0;
  top: 0%;
  bottom:0;
  margin:auto;
}
.ima3{
  position: absolute;
  left: 60%;
  right:0;
  top: 0%;
  bottom:0;
  margin:auto;
}
.rela2 {
  position: absolute;
  left: 70%;
  right:0;
  top: 18%;
  bottom:0;
  margin:auto;
}

.corp{
    width:auto;
    height:auto;
    position:absolute;
    left:-54%
}

table {
  border: 1px solid black;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}

thead > tr {
  background-color: rgb(228, 240, 245);
}

th, td {
  border: 1px solid black;
  padding:4px 6px;
}

.info{
    width:auto;
    height:auto;
    position:absolute;
    left:-10%
}

